.app_detail_holder {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding-top: 2%;
}

.app_detail_header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    flex: 80%;
}

.app_overview {
    flex: 3;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.app-icon {
    flex: 1;
}

.user_actions {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.wishlist-button {
    flex: 1;
}

.divider {
    background-color: grey;
}

